body {
    font-family: Arial, sans-serif;
}
header{
    display:flex;
    flex-direction: column;
}
/*.header.top{

}*/
.header.bottom{
    display: flex;
    gap:2rem;
}


#diagramSelector {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

main {
    display:flex;
    flex-wrap: wrap;
}

#diagramSource{
    min-width: 500px;
    min-height: 200px;
}
